<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vcf="http://typo3.org/ns/TRAW/Vcfqr/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <vcf:address.vcf address="{data.tx_vcfqr_address}"
                     class="vcf-download"
                     additionalAttributes="{aria-role:'button'}"
                     title="Download vCard"
                     textWrap="<span>|</span>"
    >Download vCard</vcf:address.vcf>
</f:section>
</html>